/* tablet and mobile */
@media (max-width: 1024px) {
    .hide-on-tablet-mobile {
        display: none;
    }
    :root {
        --header-height: 70px;
        --navbar-height: 0px;    
    }
    .header-cart__list {
        position: fixed;
        top: var(--header-height);
        right: 0;
        width: 100%;
        padding: 0 calc((100% - 644px) /2);
    }
    .header-cart__list::before {
        display: none;
    }
    .header {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
    }
    .app__content {
        margin-top: calc(var(--header-sort) + var(--header-height));
    }
    .header__sort-bar {
        display: flex;
    }
    .app__content {
        padding: 0;
    }
    .header__sort-bar {
        display: flex;
    }
}
/* tablet */
@media (min-width:740px) and (max-width:1023px) {
    .hide-on-tablet {
        display:none;
    }
    .header-cart {
        width: 80px;
        text-align: right;
    }   
}
/* mobile */
@media (max-width:739px) {
    .hide-on-mobile {
        display:none;
    }
    .header-search {
        justify-content: space-between;
    }
    .header-cart,
    .header-logo {
        width: unset;
    }
    .header-find {
        position: fixed;
        right: 0;
        left: 0;
        z-index: 1;
        height: var(--header-height);
        padding: 0 16px;
        box-shadow: 0 2px 2px rgb(0 0 0 / 30%);
        top: var(--header-height);
        animation: headerSearch linear 0.3s ;
        display: none;
    }
    @keyframes headerSearch {
        from {
            opacity: 0;
            top: calc(var(--header-height) / 2) ;
        }
        to {
            opacity: 1;
            top: var(--header-height);
        }
    }
    .pagination-item {
        margin: 0;
    }
    .pagination-item__link {
        min-width: 16px;
        height: 26px;
        font-size: 1.6rem;
    }
    .app__container {
        margin: 0 4px;
    }
    .mobile__cate,
    .header__menu-bars {
        display: block;
    }
    .header-logo--img {
        width: 110px;
    }
    .footer__content {
        padding: 0 16px;
    }
}